numpy==1.26.4
pandas==1.5.3
pydantic==2.9.2
pydantic-settings==2.5.2
pydantic-core==2.23.4
scikit-learn
tqdm==4.66.2
streamlit==1.32.1
streamlit-chat==0.1.1
openai==1.46.1
langchain==0.3.0
langchain-core==0.3.5
langchain_community==0.3.0
langchain-openai==0.2.0
langchain_chroma==0.1.4
langsmith==0.1.125
langchain-text-splitters==0.3.0
pypdf==4.1.0
unstructured==0.14.2
unstructured[pdf]
tiktoken==0.7.0
faiss-cpu==1.8.0
seaborn==0.13.2
langserve
pydot-ng==2.0.0
kor==1.0.1
python-dotenv==1.0.1
langgraph==0.2.32
youtube-transcript-api==0.6.2
